@model Springboard.Models.JobPosting
<link href="@Url.Content("~/Content/index.css")" rel="stylesheet" type="text/css" />
<div>
    <h4>JobPosting</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobDescription)
        </dd>
        <div class="fluid-container">
            <div class="row">
                <dd class="col-xs-6">

                    @if (Model.CultureId == null)
                    {
                       @Html.Action("CultureCreatePartialJobPosting", "Culture", Model)
                    }
                    else
                    {
                       @Html.Action("CultureEditPartial", "Culture", new { CultureId = Model.CultureId })
                    }
                </dd>

                <dd class="col-xs-6">
                    @if (Model.SkillRequirementId == null)
                    {
                        @Html.Action("SkillCreatePartialJobPosting", "Skills", Model)
                    }
                    else
                    {
                            @Html.Action("SkillDetailsPartial", "Skills", new { SkillRequirementId = Model.SkillRequirementId })
                    }
                </dd>
            </div>
        </div>
</dl>
</div>
