@model Springboard.Models.JobPosting

<div>
    <h4>JobPosting</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobDescription)
        </dd>
        <dd>
            @if(Model.CultureId == null)
            {
                @Html.Action("CultureCreatePartialJobPosting", "Culture", Model)
            }
            else
            {
                @Html.Action("CultureEditPartial", "Culture", new { CultureId = Model.CultureId })
            }
        </dd>

        <dd>
            @if(Model.SkillRequirementId == null)
            {
                @Html.Action("SkillCreatePartialJobPosting", "Skills", Model)
            }
            else
            {
                @Html.Action("SkillDetailsPartial", "Skills", new { SkillRequirementId = Model.SkillRequirementId })
            }
        </dd>
    </dl>
</div>
