@model Springboard.Models.SkillRequirement

<div>
    <h4>SkillRequirement</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Algorithms)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Algorithms)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BusAnalysis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusAnalysis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Database)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Database)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Debugging)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Debugging)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GameProgramming)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GameProgramming)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MobileDev)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MobileDev)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cpp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cpp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Java)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Java)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Python)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Python)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Script)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Script)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectMan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectMan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SysArch)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SysArch)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SysDes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SysDes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SysInt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SysInt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TechWritting)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TechWritting)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WebDev)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WebDev)
        </dd>

    </dl>
</div>
