@model IEnumerable<Springboard.Models.Application>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.JobPosting.JobTitle)
        </th>
        <th> 
            @Html.DisplayNameFor(model => model. User.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOpen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Resolved)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.JobPosting.JobTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOpen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Resolved)
        </td>
    </tr>
}

</table>
