@using Springboard.Models
@model Springboard.Models.SeekerAccount
@if (Model != null)
{
    if (Model.CultureId == null)
    {
          <div class="col-xs-6">@Html.Action("CultureCreatePartialSeekerAccount", "Culture", Model)</div>

    }
    else
    {
        <div class="col-xs-6">
            @Html.Action("CultureEditPartial", "Culture", Model.CultureId)</div>
    }

    if (Model.SkillRequirementId == null)
    {
        <div class="col-xs-6">
            @Html.Action("SkillCreatePartialSeekerAccount", "Skills", Model)</div>
    }
    else
    {
        <div class="col-xs-6">
            @Html.Action("SkillDetailsPartial", "Skills", Model.SkillRequirementId);</div>
            }

            @Html.Action("SeekerApplication", "Application");
            }
