@model Springboard.Models.Culture

<div>
    <h4>Culture</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Accurate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Accurate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Analytical)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Analytical)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Creative)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Creative)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Efficient)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Efficient)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FlexibleScheduling)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FlexibleScheduling)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GoodListener)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GoodListener)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LikeFastPace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LikeFastPace)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Logical)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Logical)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MultiTasker)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MultiTasker)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OralCommunicator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OralCommunicator)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PeopleSkills)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PeopleSkills)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Planner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Planner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Punctual)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Punctual)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RealtionshipBuilder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RealtionshipBuilder)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Researcher)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Researcher)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stamina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stamina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TeacherMentor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeacherMentor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TeamLeader)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeamLeader)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TeamMentor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeamMentor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UXUI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UXUI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WrittenCommunicator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WrittenCommunicator)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
